body {
    background-color: bisque;
    font-family: Arial, sans-serif;
      padding: 20px;
}

.question {
      margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

button {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
}