body {
    background-color: bisque;
    font-family: Arial, sans-serif;
      padding: 20px;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}
.border {
    border: 2px solid black;
    padding: 20px;
    min-height: 200px; /* <- This ensures consistent height */
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: azure;
}
.border h2,
.border p {
  text-align: center;
}
.question {
      margin-bottom: 30px;
}
h1 {
    text-align: center;
    border-bottom: 1px solid #111;
    color: rgb(80, 135, 238);
}

h2 {
    margin-bottom: 10px;
    color: crimson;
}

button {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
}